[Install]
WantedBy=multi-user.target

[Unit]
Description=the-great-code-off_service

[Service]
Type=simple
User=tgco
WorkingDirectory={{ tgco_path }}
VIRTUAL_ENV={{ tgco_path }}/.tgco_env
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
ExecStart={{ tgco_path }}/.tgco_env/bin/python make
Restart=on-abort

[Install]
WantedBy=multi-user.target
