[Unit]
Description=the-great-code-off_service

[Service]
Type=simple
User=tgco
WorkingDirectory={{ tgco_path }}
ExecStartPre= source {{ tgco_path }}/.tgco_env/bin/activate
ExecStart= make
Restart=on-abort

[Install]
WantedBy=multi-user.target